@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Sidebar Styling */
.sidebar {
  @apply w-72 bg-gray dark:bg-dark h-full p-4 border-r border-gray-3 dark:border-dark-2;
}

.sidebar-header {
  @apply flex items-center justify-between mb-6;
}

.sidebar ul {
  @apply space-y-2 mb-6;
}

.sidebar li {
  @apply text-gray-5 dark:text-dark-6 hover:bg-gray-2 dark:hover:bg-dark-2 rounded-lg p-3;
}

.sidebar h2 {
  @apply text-sm font-semibold text-gray-4 dark:text-dark-3 uppercase mb-3;
}

/* Dark Mode Toggle */
.dark-mode-toggle {
  @apply relative flex h-12 w-24 items-center gap-2 rounded-full p-1 cursor-pointer bg-gray-2 dark:bg-dark-2;
}

.dark-mode-slider {
  @apply absolute h-10 w-10 rounded-full transition-transform duration-300 bg-white dark:bg-dark-3;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

img.h-6 {
  display: inline-block; /* Ensure it's visible */
  width: 1.5rem; /* Tailwind h-6 equivalent */
  height: 1.5rem; /* Tailwind w-6 equivalent */
}
